{:description "Результати атестації осіннього семестру кпі 2013/2014 н.р."
 :url "http://kpi.ua/certification-13-3"
 :has-full-atestations
 {"ФЛ"   73.2
  "ВПІ"  62.9
  "ФММ"  54.4
  "ХТФ"  50.7
  "ФБМІ" 48.7
  "ФТІ"  47.0
  "ФБТ"  46.8
  "ФСП"  45.8
  "ПБФ"  44.3
  "ФІОТ" 43.6
  "ФМФ"  41.5
  "ІПСА" 40.9
  "ММІ"  40.9
  "ТЕФ"  40.9
  "ІЕЕ"  40.7
  "ІХФ"  40.5
  "ФЕА"  39.7
  "ІФФ"  37.5
  "ЗФ"   37.1
  "ІТС"  35.8
  "РТФ"  33.0
  "ФЕЛ"  32.9
  "ФПМ"  31.3
  "ФАКС" 26.6}
 :has-no-three-atestations
 {"ФАКС" 27.3
  "ФЕЛ"  24.7
  "ЗФ"   23.9
  "ФМФ"  23.2
  "ІТС"  23.1
  "ФПМ"  22.9
  "ІЕЕ"  22.5
  "ІХФ"  22.2
  "РТФ"  21.7
  "ФІОТ" 21.1
  "ІФФ"  20.8
  "ФБМІ" 20.8
  "ПБФ"  20.1
  "ТЕФ"  20.1
  "ФБТ"  18.2
  "ФСП"  17.7
  "ММІ"  17.5
  "ХТФ"  14.8
  "ФТІ"  14.5
  "ІПСА" 14.4
  "ФММ"  14.3
  "ФЕА"  13.6
  "ВПІ"  12.3
  "ФЛ"   7.6}}
